/* To use Tailwind with ParcelJS, call the Tailwind files like this. Otherwise, use imports */

/* @import "tailwind/tailwind.css";   */


/* USE PURGE CSS ON ABOVE CODE ONLY. ANYTHING BETWEEN THE IGNORE TAGS BELOW WILL NOT BE IGNORED
https://www.purgecss.com/whitelisting#in-the-css-directly */

/* purgecss start ignore */


/* purgecss end ignore */

@import "./mapbox.css";

#map {
  display: block;
  height: 75%;
  width: 75%;
};

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
