@import url(./base/reset.css);
@import url(./base/mapbox.css);
/* Variables */
body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25em; }
  body h1 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.5em; }
  body h2 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em; }
    @media (min-width: 768px) {
      body h2 {
        font-size: 2em; } }
  body h3 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em; }
  body h4 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em; }
  body h5 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em; }
  body h6 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase; }
  body p {
    font-size: 1em;
    margin-bottom: 1em; }
  body a {
    color: #CE0000;
    font-family: 'Red Rose', cursive;
    text-decoration: none; }

.f-bold {
  font-weight: bold; }
.f-green {
  color: #064E3C !important; }
.f-off-white {
  color: #FEFEF1 !important; }
.f-rose {
  font-family: 'Red Rose', cursive; }
.f-serif {
  font-family: 'Source Serif Pro', serif; }
.f-yellow {
  color: #EFC01C !important; }

/* Basic utility styles */
body {
  background-color: #FEFEF1; }

.wrap {
  max-width: 1280px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .wrap {
      padding-left: 120px;
      padding-right: 120px; } }

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/* Expand toggle styles */
.expandable, .js .expandable[aria-hidden="false"] {
  overflow: hidden;
  transition: max-height 400ms ease-in-out, visibility 0s linear 0s;
  visibility: visible; }
.expandable[aria-hidden="true"], .js .expandable:not([aria-hidden]) {
  max-height: 0 !important;
  transition: max-height 400ms ease-in-out, visibility 0s linear 400ms;
  visibility: hidden; }

.no-js [data-expands] {
  display: none; }

.expand-button {
  background: unset;
  border: none;
  cursor: pointer;
  position: relative; }
  .expand-button:focus {
    outline: none; }
    .expand-button:focus:after {
      content: "";
      border: 1px dotted #064E3C;
      height: 40px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px; }
  .expand-button[aria-expanded=true]:before {
    content: '-';
    color: #064E3C;
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .expand-button[aria-expanded=false]:before {
    content: '+';
    color: #064E3C;
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

/*  Header styles */
.header {
  padding-bottom: 56px;
  padding-top: 36px; }
  .header-logo {
    display: block;
    height: 70px;
    width: 70px; }
    @media (min-width: 768px) {
      .header-logo {
        height: 150px;
        width: 150px; } }
  .header-menu-item {
    letter-spacing: 0.02em; }
    .header-menu-item-link {
      color: #4A4A4A;
      font-weight: 700; }
      @media (min-width: 768px) {
        .header-menu-item-link {
          color: #064E3C; } }
    @media (max-width: 768px) {
      .header-menu-item:not(:first-child) {
        margin-top: 10px; } }
    @media (min-width: 768px) {
      .header-menu-item {
        margin-left: 60px; } }
  @media (min-width: 768px) {
    .header-menu {
      display: flex;
      margin-left: -60px; } }
  .header-nav {
    align-items: center;
    display: flex;
    flex-wrap: nowrap; }
    .header-nav-item {
      margin-left: 20px; }
      @media (min-width: 768px) {
        .header-nav-item {
          margin-left: 60px; } }
    @media (min-width: 768px) {
      .header-nav {
        justify-content: space-between;
        margin-left: -60px; } }

/* Footer styles */
.footer {
  background-color: #064E3C;
  overflow: hidden;
  padding-bottom: 40px; }
  .footer-border {
    height: 65px;
    margin-bottom: 40px; }
  .footer-icon {
    display: block;
    margin-bottom: 58px;
    height: 120px;
    width: 120px; }
  .footer-link {
    color: #EFC01C;
    font-family: 'Source Serif Pro', serif; }
    .footer-link-text svg {
      padding-left: 20px;
      max-width: 28px;
      transform: scale(1); }
    .footer-link-text:active, .footer-link-text:focus, .footer-link-text:hover {
      transform: scale(1.1);
      transition: 500ms; }
    .footer-link:active, .footer-link:focus, .footer-link:hover {
      text-decoration: underline; }
  .footer-flex {
    font-size: 0.75em; }
    .footer-flex-item:last-child {
      align-items: center;
      display: flex; }
    @media (min-width: 768px) {
      .footer-flex {
        display: flex;
        justify-content: space-between; } }

/* Homepage styles */
.home {
  position: relative; }
  .home-background {
    background-color: #017653;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    min-height: 2200px;
    overflow: hidden;
    position: absolute;
    top: 60%;
    width: 100%;
    z-index: -1; }
    @media (min-width: 768px) {
      .home-background {
        min-height: 1800px;
        top: 50vh; } }
  @media (min-width: 768px) {
    .home-item {
      margin-left: 126px; } }
  .home .main-explainer {
    background-color: #FEFEF1;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 40px;
    margin-top: -5px;
    max-width: 800px;
    padding: 20px; }
    @media (min-width: 768px) {
      .home .main-explainer {
        font-size: 1.5em; } }
  .home .main-standout {
    background: #FEFEF1;
    border: 1px solid #017653;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px; }
    @media (min-width: 768px) {
      .home .main-standout {
        margin-top: 20%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px; } }
    .home .main-standout-item {
      display: flex;
      flex-direction: row-reverse; }
      .home .main-standout-item:not(:first-child) {
        padding-top: 20px; }
      .home .main-standout-item:not(:last-child) {
        border-bottom: 1px solid #064E3C;
        padding-bottom: 20px; }
      .home .main-standout-item-content {
        margin-right: 30px; }
        .home .main-standout-item-content-body {
          color: #064E3C;
          margin-top: 20px; }
  .home .aside-item {
    align-items: stretch;
    background: #064E3C;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative; }
    .home .aside-item-image {
      object-fit: cover;
      height: 222px;
      width: 344px; }
    .home .aside-item-content {
      padding: 20px; }
    .home .aside-item-description {
      color: #FEFEF1; }
    .home .aside-item-link-text {
      color: #EFC01C; }
      .home .aside-item-link-text :last-child {
        padding-left: 0;
        transition: 500ms; }
    .home .aside-item-link-hidden {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; }
      .home .aside-item-link-hidden:active + .aside-item-link-text :last-child, .home .aside-item-link-hidden:focus + .aside-item-link-text :last-child, .home .aside-item-link-hidden:hover + .aside-item-link-text :last-child {
        padding-left: 10px;
        transition: 500ms; }
    @media (min-width: 768px) {
      .home .aside-item {
        margin-bottom: 80px; } }
  @media (min-width: 768px) {
    .home {
      display: flex;
      margin-left: -126px; } }

.prefooter {
  background-color: #017653;
  padding-bottom: 30px;
  padding-top: 30px; }
  .prefooter .sponsors {
    margin-top: 10px;
    margin-bottom: 30px; }
    .prefooter .sponsors-item {
      margin-bottom: 20px;
      position: relative; }
      .prefooter .sponsors-item-link-image {
        max-width: 175px;
        transform: scale(1);
        transition: 500ms; }
      .prefooter .sponsors-item-link:active .sponsors-item-link-image, .prefooter .sponsors-item-link:focus .sponsors-item-link-image, .prefooter .sponsors-item-link:hover .sponsors-item-link-image {
        transform: scale(1.1);
        transition: 500ms; }
      @media (min-width: 768px) {
        .prefooter .sponsors-item {
          margin-bottom: 0;
          margin-left: 80px; } }
    @media (min-width: 768px) {
      .prefooter .sponsors {
        display: flex;
        margin-left: -80px; } }
  @media (min-width: 768px) {
    .prefooter {
      padding-bottom: 80px;
      padding-top: 30px; } }

/* Section styles */
.section-border {
  margin-bottom: 120px;
  margin-top: 50px; }
  .section-border-image {
    display: block;
    height: 43px;
    width: 100%; }
.section-content {
  margin-bottom: 60px; }
  .section-content ul {
    margin-bottom: 1em; }

/* Map styles */
#map {
  display: block;
  height: 100%;
  width: 100%; }

.mapboxgl-popup {
  max-width: 350px !important; }
  .mapboxgl-popup-tip {
    display: none; }
  .mapboxgl-popup-content {
    background-color: #FEFEF1;
    padding: 20px;
    position: relative; }
    .mapboxgl-popup-content-title {
      font-size: 1.5em; }
    .mapboxgl-popup-content-info {
      font-size: 1.2em; }
    .mapboxgl-popup-content-quote {
      font-size: 1.2em; }
    .mapboxgl-popup-content div {
      margin-bottom: 5px; }
    .mapboxgl-popup-content:before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #FEFEF1;
      bottom: -15px;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0; }

body {
  counter-reset: asset; }

.marker:before {
  color: #fff;
  counter-increment: asset;
  /* Increment the value of section counter by 1 */
  content: counter(asset);
  cursor: pointer;
  font-family: 'Source Serif Pro', serif;
  position: absolute; }
.marker--existing:before {
  background-color: #064E3C;
  border-radius: 50%;
  height: 22px;
  padding: 3px;
  text-align: center;
  width: 22px; }
.marker--past:before {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 24px solid #064E3C;
  height: 0;
  width: 0; }

.map {
  border-bottom: 0.75px solid #CAC9B3;
  border-top: 0.75px solid #CAC9B3; }
  @media (min-width: 768px) {
    .map-item:first-child {
      max-width: 360px;
      width: 30%; } }
  .map-item:last-child {
    align-self: stretch;
    height: inherit;
    width: 70%; }
  @media (min-width: 768px) {
    .map {
      display: flex; } }
  .map-container {
    height: 100%;
    position: relative;
    width: 100%; }

.legend-key {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 15px; }
.legend-title {
  color: #064E3C;
  font-family: 'Red Rose', cursive;
  font-weight: bold;
  margin-bottom: 32px; }
.legend-guide-item {
  align-items: center;
  display: flex; }
  .legend-guide-item-svg {
    height: 15px;
    margin-right: 12px;
    width: 15px; }
  .legend-guide-item:first-child {
    margin-bottom: 5px; }
.legend-assets {
  margin-top: 40px; }
  .legend-assets-item {
    align-items: center;
    color: #4A4A4A;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px; }
    .legend-assets-item-button {
      margin-right: 20px; }
      .legend-assets-item-button:before {
        font-size: 1.5em !important; }
    .legend-assets-item-content {
      overflow: hidden;
      padding-left: 40px;
      padding-right: 15px;
      position: relative; }
      .legend-assets-item-content :before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 10px; }
      .legend-assets-item-content#ArtsContent :before {
        background-color: #D9891C;
        content: ""; }
      .legend-assets-item-content#BusinessContent :before {
        background-color: #D42A2A; }
      .legend-assets-item-content#CommunityContent :before {
        background-color: rgba(212, 42, 42, 0.3); }
      .legend-assets-item-content#FamilyContent :before {
        background-color: #878484; }
      .legend-assets-item-content#LandmarkContent :before {
        background-color: #EFC01C; }
      .legend-assets-item-content#ParkContent :before {
        background-color: #064E3C; }
      .legend-assets-item-content#RecreationContent :before {
        background-color: #BAD9C6; }
    .legend-assets-item-list-item {
      font-size: 0.8em; }
    .legend-assets-item:not(:last-child) {
      border-bottom: 0.75px solid #CAC9B3; }

.assets {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 920px; }
  .assets-item {
    align-items: center;
    display: flex; }
    .assets-item-svg {
      height: 15px;
      margin-right: 12px;
      width: 15px; }
    .assets-item-list {
      margin-top: 10px; }
      .assets-item-list-item {
        color: #4A4A4A;
        margin-bottom: 5px; }
      @media (min-width: 768px) {
        .assets-item-list {
          -webkit-column-count: 2;
          /* Chrome, Safari, Opera */
          -moz-column-count: 2;
          /* Firefox */
          column-count: 2;
          width: 100%; } }
  .assets-existing {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .assets-existing {
        margin-bottom: 60px; } }
  @media (min-width: 768px) {
    .assets {
      margin-bottom: 60px;
      margin-top: 60px; } }

/*# sourceMappingURL=styles.css.map */
