@import url(./base/reset.css);
@import url(./base/mapbox.css);
/* Variables */
body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25em; }
  body h1 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.5em; }
  body h2 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5em; }
  body h3 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em; }
  body h4 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em; }
  body h5 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em; }
  body h6 {
    color: #064E3C;
    font-family: 'Red Rose', cursive;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase; }
  body p {
    font-size: 1em;
    margin-bottom: 1em; }
    body p + p {
      margin-bottom: 0; }
  body a {
    color: #CE0000;
    font-family: 'Red Rose', cursive;
    text-decoration: none; }

.f-bold {
  font-weight: bold; }
.f-green {
  color: #064E3C !important; }
.f-off-white {
  color: #FEFEF1 !important; }
.f-rose {
  font-family: 'Red Rose', cursive; }
.f-yellow {
  color: #EFC01C !important; }

/* Basic utility styles */
body {
  background-color: #FEFEF1; }

.wrap {
  max-width: 1280px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .wrap {
      padding-left: 120px;
      padding-right: 120px; } }

.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

/*  Header styles */
.header {
  padding-bottom: 36px;
  padding-top: 36px; }
  .header-logo {
    height: 150px;
    width: 150px; }
  .header-menu-item-link {
    color: #064E3C;
    font-weight: 700; }
  @media (min-width: 768px) {
    .header-menu-item {
      margin-left: 60px; } }
  @media (min-width: 768px) {
    .header-menu {
      display: flex;
      margin-left: -60px; } }
  .header-nav-item {
    margin-left: 60px; }
  @media (min-width: 768px) {
    .header-nav {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-left: -60px; } }

/* Footer styles */
.footer {
  background-color: #064E3C;
  overflow: hidden;
  padding-bottom: 40px; }
  .footer-border {
    margin-bottom: 40px; }
  .footer-link {
    color: #EFC01C;
    font-family: 'Source Serif Pro', serif; }
    .footer-link-text svg {
      padding-left: 20px;
      max-width: 28px;
      transform: scale(1); }
    .footer-link-text:active, .footer-link-text:focus, .footer-link-text:hover {
      transform: scale(1.1);
      transition: 500ms; }
    .footer-link:active, .footer-link:focus, .footer-link:hover {
      text-decoration: underline; }
  .footer-flex {
    font-size: 0.75em; }
    .footer-flex-item:last-child {
      align-items: center;
      display: flex; }
    @media (min-width: 768px) {
      .footer-flex {
        display: flex;
        justify-content: space-between; } }

/* Homepage styles */
.home {
  position: relative; }
  .home-background {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1; }
    .home-background-image {
      min-height: 700px;
      object-fit: cover;
      width: 100%; }
    @media (min-width: 768px) {
      .home-background {
        background-color: #017653;
        min-height: 1500px;
        top: 40%; } }
  @media (min-width: 768px) {
    .home-item {
      margin-left: 126px; } }
  .home .main-explainer {
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 760px; }
  .home .main-standout {
    background: #FEFEF1;
    border: 1px solid #017653;
    margin-bottom: 40px;
    margin-top: 20%;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; }
    @media (min-width: 768px) {
      .home .main-standout {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px; } }
    .home .main-standout-item {
      display: flex;
      flex-direction: row-reverse; }
      .home .main-standout-item:not(:first-child) {
        padding-top: 20px; }
      .home .main-standout-item:not(:last-child) {
        border-bottom: 1px solid #064E3C;
        padding-bottom: 20px; }
      .home .main-standout-item-content {
        margin-right: 30px; }
  .home .aside-item {
    align-items: stretch;
    background: #064E3C;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    position: relative; }
    .home .aside-item-image {
      object-fit: cover; }
    .home .aside-item-content {
      padding: 20px; }
    .home .aside-item-description {
      color: #FEFEF1; }
    .home .aside-item-link-text {
      color: #EFC01C; }
      .home .aside-item-link-text :last-child {
        padding-left: 0;
        transition: 500ms; }
    .home .aside-item-link-hidden {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; }
      .home .aside-item-link-hidden:active + .aside-item-link-text :last-child, .home .aside-item-link-hidden:focus + .aside-item-link-text :last-child, .home .aside-item-link-hidden:hover + .aside-item-link-text :last-child {
        padding-left: 10px;
        transition: 500ms; }
    @media (min-width: 768px) {
      .home .aside-item {
        margin-bottom: 80px; } }
  @media (min-width: 768px) {
    .home {
      display: flex;
      margin-left: -126px; } }

.prefooter {
  background-color: #017653;
  padding-bottom: 30px;
  padding-top: 30px; }
  .prefooter .sponsors {
    margin-top: 10px;
    margin-bottom: 30px; }
    .prefooter .sponsors-item {
      margin-bottom: 20px;
      position: relative; }
      .prefooter .sponsors-item-link {
        margin-top: 10px; }
        .prefooter .sponsors-item-link-text {
          color: #EFC01C;
          position: relative; }
          .prefooter .sponsors-item-link-text :last-child {
            position: absolute;
            right: -30px;
            top: 6px;
            transition: 500ms; }
        .prefooter .sponsors-item-link-hidden {
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%; }
          .prefooter .sponsors-item-link-hidden:active + .sponsors-item-link-text :last-child, .prefooter .sponsors-item-link-hidden:focus + .sponsors-item-link-text :last-child, .prefooter .sponsors-item-link-hidden:hover + .sponsors-item-link-text :last-child {
            right: -40px;
            transition: 500ms; }
      @media (min-width: 768px) {
        .prefooter .sponsors-item {
          margin-bottom: 0;
          margin-left: 100px; } }
    @media (min-width: 768px) {
      .prefooter .sponsors {
        display: flex;
        margin-left: -100px; } }
  @media (min-width: 768px) {
    .prefooter {
      padding-bottom: 80px;
      padding-top: 100px; } }

/* Expand toggle styles */
.expandable, .js .expandable[aria-hidden="false"] {
  overflow: hidden;
  transition: max-height 400ms ease-in-out, visibility 0s linear 0s;
  visibility: visible; }
.expandable[aria-hidden="true"], .js .expandable:not([aria-hidden]) {
  max-height: 0 !important;
  transition: max-height 400ms ease-in-out, visibility 0s linear 400ms;
  visibility: hidden; }

.no-js [data-expands] {
  display: none; }

.expand-button {
  background: unset;
  border: none;
  position: relative; }
  .expand-button[aria-expanded=true]:before {
    content: '-';
    color: #064E3C;
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .expand-button[aria-expanded=false]:before {
    content: '+';
    color: #064E3C;
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

#map {
  display: block;
  height: 75%;
  width: 75%; }

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; }

/*# sourceMappingURL=styles.css.map */
