/*
Error: Undefined variable: "$breakpoints".
        on line 3 of assets/css/scss/utils.scss

1: /* Basic utility styles *\/
2: 
3: $bp-sm: map-get($breakpoints, sm);
4: $off-white: map-get($colors, offWhite);
5: 
6: body {
7:   background-color: $off-white;
8: }

Backtrace:
assets/css/scss/utils.scss:3
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:182:in `perform_arg'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `block in _perform'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each_with_index'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `each'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `map'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/funcall.rb:129:in `_perform'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:478:in `visit_variable'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/rae/.rvm/gems/ruby-2.6.5/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$breakpoints\".\A         on line 3 of assets/css/scss/utils.scss\A \A 1: /* Basic utility styles */\A 2: \A 3: $bp-sm: map-get($breakpoints, sm);\A 4: $off-white: map-get($colors, offWhite);\A 5: \A 6: body {\A 7:   background-color: $off-white;\A 8: }"; }
