<footer class="footer">
  <a href="/">
    <img src="" alt="" aria-hidden="true">
    <span class="vh">Dear Chinatown</span>
  </a>
  <p>
    In collaboration with
    <a href="#FIXME">1882 Foundation</a>
    and
    <a href="#FIXME">AARP</a>
  </p>
  <div class="footer-flex">
    <div class="footer-flex-item">Copyright 2020</div>
    <div class="footer-flex-item">
      <a href="mailto:info@dearchinatowndc.org">info@dearchinatowndc.org</a>
      <a href="https://www.instagram.com/dearchinatowndc/?hl=en">
        <img src="" alt="" aria-hidden="true">
        <span class="vh">Dear Chinatown on Instagram</span>
      </a>
    </div>
  </div>
</footer>
