<footer class="footer">
  <div class="footer-border">
  </div>
  <div class="wrap f-off-white">
    <a href="/">
      <img src="../logo-white.png" alt="" aria-hidden="true">
      <span class="vh">Dear Chinatown</span>
    </a>
    <p>
      This project was made possible by the
      <a class="footer-link" href="#FIXME">1882 Foundation</a>
      and through the generous support of
      <a class="footer-link" href="#FIXME">AARP</a>.
    </p>
    <div class="footer-flex">
      <div class="footer-flex-item">Copyright 2020</div>
      <div class="footer-flex-item">
        <a class="footer-link" href="mailto:info@dearchinatowndc.org">info@dearchinatowndc.org</a>
        <a class="footer-link-text" href="https://www.instagram.com/dearchinatowndc/?hl=en">
          <span class="vh">Dear Chinatown on Instagram</span>
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path d="M20.26 2.43a5.3 5.3 0 015.31 5.3v12.12a5.3 5.3 0 01-5.3 5.3H7.73a5.36 5.36 0 01-5.31-5.34V7.74c0-2.95 2.36-5.31 5.3-5.31h12.53zm0-2.43H7.74A7.74 7.74 0 000 7.74v12.1a7.77 7.77 0 007.74 7.74H20.3a7.77 7.77 0 007.73-7.73V7.74A7.8 7.8 0 0020.26 0z" fill="#FEFEF1"/><path d="M14.12 9.13a4.76 4.76 0 11-.01 9.52 4.76 4.76 0 01.01-9.52zm0-2.43a7.17 7.17 0 10-.01 14.34 7.17 7.17 0 00.01-14.34zM21.55 7.98a1.6 1.6 0 100-3.2 1.6 1.6 0 000 3.2z" fill="#FEFEF1"/></svg>
        </a>
      </div>
    </div>
  </div>
</footer>
