<header class="header">
  <nav>
    <h1>
      <a href="#" class="vh">Dear Chinatown</a>
      <img class="header-logo" src="./logo.png" alt="">        
    </h1>
    <ul>
      <li>
        <a href="/map">Chinatown Map</a>
      </li>
      <li>
        <a href="/speaks">Chinatown Speaks</a>
      </li>
      <li>
        <a href="/connects">Chinatown Connects</a>
      </li>
      <li>
        <a href="https://www.instagram.com/dearchinatowndc/?hl=en">
          IG logo here
          <span class="vh">Dear Chinatown on Instagram</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
