<header class="header wrap">
  <nav class="header-nav">
    <h1 class="header-nav-item">
      <a href="/">
        <span class="vh">Dear Chinatown</span>
        <img class="header-logo" src="../logo.svg" alt="">
      </a>
    </h1>
    <ul class="header-menu header-nav-item">
      <li class="header-menu-item">
        <a class="header-menu-item-link" href="/map">Chinatown Map</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-item-link" href="/voices">Chinatown Voices</a>
      </li>
      <li class="header-menu-item">
        <a class="header-menu-item-link" href="/connects">Chinatown Connects</a>
      </li>
    </ul>
  </nav>
</header>
