<div class="map">
  <div class="legend map-item">
    <div class="legend-key">
      <div class="legend-title">Legend</div>
      <div class="legend-guide">
        <div class="legend-guide-item">
          <div class="legend-guide-item-svg">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="6.5" fill="#064E3C"/></svg>
          </div>
          <div class="legend-guide-item-text">Existing Asset</div>
        </div>
        <div class="legend-guide-item">
          <div class="legend-guide-item-svg">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M6.5 0L13 11.25H0L6.5 0z" fill="#064E3C"/></svg>
          </div>
          <div class="legend-guide-item-text">Past Asset</div>
        </div>
      </div>
    </div>
    <div class="legend-assets">
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="businesses" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Business</div>
          <ul class="legend-assets-item-list expandable" id="businesses">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="community" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Community Organization</div>
          <ul class="legend-assets-item-list expandable" id="community">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="family" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Family Association</div>
          <ul class="legend-assets-item-list expandable" id="family">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="landmarks" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Landmark</div>
          <ul class="legend-assets-item-list expandable" id="landmarks">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="media" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Media Institution</div>
          <ul class="legend-assets-item-list expandable" id="media">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="park" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Park</div>
          <ul class="legend-assets-item-list expandable" id="park">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="recreation" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Recreation</div>
          <ul class="legend-assets-item-list expandable" id="recreation">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="residential" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Residential</div>
          <ul class="legend-assets-item-list expandable" id="residential">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="religion" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Religion</div>
          <ul class="legend-assets-item-list expandable" id="religion">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container map-item">
    <div id="map"></div>
  </div>
</div>
<div class="assets">
  <div class="assets-existing">
    <div class="assets-item f-rose f-green">
      <div class="assets-item-svg">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="6.5" fill="#064E3C"/></svg>
      </div>
      <div>Existing Assets</div>
    </div>
    <div id="existing"></div>
  </div>
  <div class="assets-past">
    <div class="assets-item f-rose f-green">
      <div class="assets-item-svg">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M6.5 0L13 11.25H0L6.5 0z" fill="#064E3C"/></svg>
      </div>
      <div>Past Assets</div>
    </div>
    <div id="past"></div>
  </div>
</div>
