<div class="map-container">
  <div class="legend">
    <div class="">Legend</div>
    <div class="">
      <div class="">Existing Asset</div>
      <div class="">Past Asset</div>
    </div>
    <div class="">
      <div class="">Business</div>
      <div class="">Landmark</div>
    </div>
  </div>
  <div id="map"></div>
</div>
<div class="assets">
  <div class="assets-existing">
    <h2>Existing Assets</h2>
    <div id="existing"></div>
  </div>
  <div class="assets-past">
    <h2>Past Assets</h2>
    <div id="past"></div>
  </div>
</div>
