<div class="map">
  <div class="legend map-item">
    <div class="legend-key">
      <div class="legend-title">Legend</div>
      <div class="legend-guide">
        <div class="legend-guide-item">
          <div class="legend-guide-item-svg">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="6.5" fill="#064E3C"/></svg>
          </div>
          <div class="legend-guide-item-text">Existing Asset</div>
        </div>
        <div class="legend-guide-item">
          <div class="legend-guide-item-svg">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M6.5 0L13 11.25H0L6.5 0z" fill="#064E3C"/></svg>
          </div>
          <div class="legend-guide-item-text">Past Asset</div>
        </div>
      </div>
    </div>
    <div class="legend-assets">
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Business" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Business</div>
          <ul class="legend-assets-item-list expandable" id="Business">
            <li class="legend-assets-item-list-item">Lorem location</li>
            <li class="legend-assets-item-list-item">Ipsum Resturant</li>
          </ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Community" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Community Organization</div>
          <ul class="legend-assets-item-list expandable" id="Community"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Family" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Family Association</div>
          <ul class="legend-assets-item-list expandable" id="Family"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Landmark" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Landmark</div>
          <ul class="legend-assets-item-list expandable" id="Landmark"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Media" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Media Institution</div>
          <ul class="legend-assets-item-list expandable" id="Media"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Park" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Park</div>
          <ul class="legend-assets-item-list expandable" id="Park"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Recreation" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Recreation</div>
          <ul class="legend-assets-item-list expandable" id="Recreation"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Residential" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Residential</div>
          <ul class="legend-assets-item-list expandable" id="Residential"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Religion" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Religion</div>
          <ul class="legend-assets-item-list expandable" id="Religion"></ul>
        </div>
      </div>
      <div class="legend-assets-item">
        <button class="legend-assets-item-button expand-button" type="button" data-expands="Social" data-expands-class="is-expanded" data-expands-height>
          <span class="vh" data-expands-text="Close">Open</span>
        </button>
        <div class="legend-assets-item-content">
          <div class="legend-assets-item-title">Social Network</div>
          <ul class="legend-assets-item-list expandable" id="Social"></ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container map-item">
    <div id="map"></div>
  </div>
</div>
<div class="assets">
  <div class="assets-existing">
    <div class="assets-item f-rose f-green">
      <div class="assets-item-svg">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13"><circle cx="6.5" cy="6.5" r="6.5" fill="#064E3C"/></svg>
      </div>
      <div>Existing Assets</div>
    </div>
    <ul class="assets-item-list" id="existing"></ul>
  </div>
  <div class="assets-past">
    <div class="assets-item f-rose f-green">
      <div class="assets-item-svg">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12"><path d="M6.5 0L13 11.25H0L6.5 0z" fill="#064E3C"/></svg>
      </div>
      <div>Past Assets</div>
    </div>
    <ul class="assets-item-list" id="past"></ul>
  </div>
</div>
