{{ define "main" }}

{{ partial "header.html" . }}

{{ if .IsHome }}
  <div class="wrap">
    <div class="home">
      <div class="home-background">
        <img class="home-background-image" src="./background.jpg" alt="" aria-hidden="true">
      </div>
      <main class="main home-item">
        <div class="main-explainer f-rose f-green">
          <span class="f-bold">Dear Chinatown, DC</span> captures the hearts and minds of the community and what they treasure most about D.C.’s Chinatown.
        </div>
        <div class="main-standout">
          <div class="main-standout-item main-standout-item-problem">
            <button class="expand-button" type="button" data-expands="problem" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>About the Project</h2>
              <div class="expandable" id="problem">
                <p>
                  The goal of this project is to make visible the stories and social histories of places within Chinatown, DC, that can
                  help us identify and prioritize projects that will contribute to place-keeping in the neighborhood.
                </p>
                <p>
                  Rising costs of living and commercial redevelopment are overshadowing the neighborhood's cultural assets.The consequence
                  is that aging residents are experiencing increased alienation from their neighborhood and younger generations across the
                  Washington, D.C. metropolitan area are losing an important cultural touchstone in the city.
                </p>
              </div>
            </div>
          </div>
          <div class="main-standout-item main-standout-item-audience">
            <button class="expand-button" type="button" data-expands="audience" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>The Audience</h2>
              <div class="expandable" id="audience">
                <p>
                  This project is also a thank you to Chinatown's longtime community leaders, past and present residents, and deeply
                  connected family and friends who have built and sustained the cultural life of the neighborhood for decades. This
                  project is to honor these individuals for their steadfast work, caretaking, and leadership.
                </p>
                <p>
                  This space is also intended to be a public educational tool. We envision this project to be in conversation amongst all
                  of the stakeholders that are involved in planning and designing policy and projects that shape how our cities fulfill
                  our everyday needs.
                </p>
              </div>
            </div>
          </div>
          <div class="main-standout-item main-standout-item-mission">
            <button class="expand-button" type="button" data-expands="mission" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>The Process</h2>
              <div class="expandable" id="mission">
                <p>
                  We consider this website a first edition and hope to see this map build and grow to capture the myriad of experiencesand perspectives of different community groups that have been made invisible over the decades as a result of the on-going gentrification processes. 
                </p>
                <p>
                  This project incorporates content from on-going public history projects, the <i>Chinatown Off H Street</i> oral history project and <i>Dear Chinatown, DC</i>'s participatory art project, where we conducted interviews, surveys, and poster-making workshops to make visible and tangible beloved neighborhood assets.  
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <aside class="aside home-item">
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">Support small businesses! Discover both old and new neighborhood establishments.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Businesses
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">Find local religious institutions where past and present residents go to seek ritual and community.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Faith-based Institutions
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">See the places where longtime residents reside.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Residences
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
      </aside>
    </div>
  </div>

  <div class="prefooter f-off-white">
    <div class="wrap">
      <h2 class="f-off-white">Project Acknowlegements</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <h3 class="f-off-white">Sponsors</h3>
      <div class="sponsors">
        <div class="sponsors-item">
          <img src="http://satyr.io/120x120" alt="" aria-hidden="true">
          <div class="sponsors-item-link">
            <a class="sponsors-item-link-hidden" href="#FIXME"></a>
            <a class="f-yellow sponsors-item-link-text" href="#FIXME">
              1882 Foundation
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="sponsors-item">
          <img src="http://satyr.io/120x120" alt="" aria-hidden="true">
          <div class="sponsors-item-link">
            <a class="sponsors-item-link-hidden" href="#FIXME"></a>
            <a class="f-yellow sponsors-item-link-text" href="#FIXME">
              AARP
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
      </div>
      <h3 class="f-off-white">Project Collaborators</h3>
      <p>
        Chinese Consolidated Benevolent Association, Humanities Truck, HumanitiesDC
      </p>
      <h3 class="f-off-white">Project Design Team</h3>
      <p>
        Jenn Low, Gabriella Chu, Garima Sharma, Megan Lewin-Smith, Throneless Tech
      </p>
      <h3 class="f-off-white">Photography Credits</h3>
      <p>
        Megan Lewin-Smith, Wenhao Ma, and Christina Sanders
      </p>
    </div>
  </div>
{{else}}
  <div class="page">
    <h1 class="font-sans text-4xl">{{.Title}}</h1>
    <div>
      {{.Content}}
    </div>
  </div>
{{ end }}

{{ partial "footer.html" . }}

{{ end }}
