{{ define "main" }}

{{ partial "header.html" }}

{{ if .IsHome }}
  <div class="home">
    <main class="main">
      <div class="">
        <span class="f-bold">Dear Chinatown</span> is ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="">
        <div class="">
          <h2>Problem</h2>
          <div class="">
            Statement, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          </div>
          <div class="">
            Description, voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
      <div class="">
        <h2>Audience</h2>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h2>Mission</h2>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h2>Project Acknowlegements</h2>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <h3>Sponsors</h3>
        <div class="sponsor-logos">
          <div class="sponsor-logos-item">
            <img src="" alt="" aria-hidden="true">
            <a href="#FIXME">1882 Foundation</a>
          </div>
          <div class="sponsor-logos-item">
            <img src="" alt="" aria-hidden="true">
            <a href="#FIXME">AARP</a>
          </div>
        </div>
        <h3>Project Team</h3>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <h3>Photography Credit</h3>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </div>
      </div>
    </main>
    <aside class="aside">
      <div class="aside-item">
        <img class="aside-item-image" src="" alt="" aria-hidden="true">
        <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="aside-item-link-text" href="#FIXME">Explore Businesses</a>
        <a class="aside-item-link-hidden" href="#FIXME"></a>
      </div>
      <div class="aside-item">
        <img class="aside-item-image" src="" alt="" aria-hidden="true">
        <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="aside-item-link-text" href="#FIXME">Explore Landmarks</a>
        <a class="aside-item-link-hidden" href="#FIXME"></a>
      </div>
      <div class="aside-item">
        <img class="aside-item-image" src="" alt="" aria-hidden="true">
        <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="aside-item-link-text" href="#FIXME">Explore Residences</a>
        <a class="aside-item-link-hidden" href="#FIXME"></a>
      </div>
    </aside>
  </div>
{{else}}
  <h1 class="font-sans text-4xl">{{.Title}}</h1>
  <div>
    {{.Content}}
  </div>
{{ end }}

{{ partial "footer.html" }}

{{ end }}
