{{ define "main" }}

{{ partial "header.html" . }}

{{ if .IsHome }}
  <div class="wrap">
    <div class="home">
      <div class="home-background">
        <img class="home-background-image" src="./background.png" alt="" aria-hidden="true">
      </div>
      <main class="main home-item">
        <div class="main-explainer f-rose f-green">
          <span class="f-bold">Dear Chinatown</span> is ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="main-standout">
          <div class="main-standout-item main-standout-item-problem">
            <button class="expand-button" type="button" data-expands="problem" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>Problem</h2>
              <div class="expandable" id="problem">
                <p>
                  Statement, lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <p>
                  Description, voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
          <div class="main-standout-item main-standout-item-audience">
            <button class="expand-button" type="button" data-expands="audience" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>Audience</h2>
              <div class="expandable" id="audience">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
          <div class="main-standout-item main-standout-item-mission">
            <button class="expand-button" type="button" data-expands="mission" data-expands-class="is-expanded" data-expands-height>
              <span class="vh" data-expands-text="Close">Open</span>
            </button>
            <div class="main-standout-item-content">
              <h2>Mission</h2>
              <div class="expandable" id="mission">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <aside class="aside home-item">
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Businesses
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Landmarks
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="aside-item">
          <img class="aside-item-image" src="./placeholder.png" alt="" aria-hidden="true">
          <div class="aside-item-content">
            <p class="aside-item-description">Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a class="aside-item-link-hidden" href="#FIXME"></a>
            <a class="aside-item-link-text" href="#FIXME">
              Explore Residences
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
      </aside>
    </div>
  </div>

  <div class="prefooter f-off-white">
    <div class="wrap">
      <h2 class="f-off-white">Project Acknowlegements</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h3 class="f-off-white">Sponsors</h3>
      <div class="sponsors">
        <div class="sponsors-item">
          <img src="http://satyr.io/120x120" alt="" aria-hidden="true">
          <div class="sponsors-item-link">
            <a class="sponsors-item-link-hidden" href="#FIXME"></a>
            <a class="f-yellow sponsors-item-link-text" href="#FIXME">
              1882 Foundation
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
        <div class="sponsors-item">
          <img src="http://satyr.io/120x120" alt="" aria-hidden="true">
          <div class="sponsors-item-link">
            <a class="sponsors-item-link-hidden" href="#FIXME"></a>
            <a class="f-yellow sponsors-item-link-text" href="#FIXME">
              AARP
              <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.93 0l5.14 5.13.93.7-.7.7-5.37 5.37-1.16-1.4 3.73-3.73H0V5.13h17.5L13.77 1.4 14.93 0z" fill="#EFC01C"/></svg>
            </a>
          </div>
        </div>
      </div>
      <h3 class="f-off-white">Project Team</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <h3 class="f-off-white">Photography Credit</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
{{else}}
  <div class="page">
    <h1 class="font-sans text-4xl">{{.Title}}</h1>
    <div>
      {{.Content}}
    </div>
  </div>
{{ end }}

{{ partial "footer.html" . }}

{{ end }}
