
$bp-sm: map-get($breakpoints, sm);
$green: map-get($colors, green);
$off-white: map-get($colors, offWhite);
$red: map-get($colors, red);
$yellow: map-get($colors, yellow);

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25em;

  h1 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.5em;
  }

  h2 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;

    @media (min-width: $bp-sm) {
      font-size: 2em;
    }
  }

  h3 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
  }

  h4 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5em;
  }

  h5 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
  }

  h6 {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.5em;
    text-transform: uppercase;
  }

  p {
    font-size: 1em;
    margin-bottom: 1em;
  }

  a {
    color: $red;
    font-family: 'Red Rose', cursive;
    text-decoration: none;
  }
}

.f {

  &-bold {
    font-weight: bold;
  }

  &-green {
    color: $green !important;
  }

  &-off-white {
    color: $off-white !important;
  }

  &-rose {
    font-family: 'Red Rose', cursive;
  }

  &-serif {
    font-family: 'Source Serif Pro', serif;
  }

  &-yellow {
    color: $yellow !important;
  }
}// end font classes
