/* Map styles */

$bp-sm: map-get($breakpoints, sm);

$dark-gray: map-get($colors, grayDark);
$gray: map-get($colors, gray);
$green: map-get($colors, green);
$off-white: map-get($colors, offWhite);

$arts-color: #D9891C;
$business-color: #D42A2A;
$community-color: rgba(212,42,42,0.3);
$family-color: #878484;
$landmark-color: #EFC01C;
$park-color: #064E3C;
$recreation-color: #BAD9C6;

$map-margin: 40px;

#map {
  display: block;
  height: 100%;
  width: 100%;
};

.mapboxgl-popup {
  max-width: 350px !important;

  &-tip {
    display: none;
  }

  &-content {
    background-color: $off-white;
    padding: 20px;
    position: relative;

    &-title {
      font-size: 1.5em;
    }

    &-info {
      font-size: 1.2em;
    }

    &-quote {
      font-size: 1.2em;
    }

    div {
      margin-bottom: 5px;
    }

    &:before {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $off-white;
      bottom: -15px;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0;
    }
  }// end content
}// end mapbox gl popup

body {
  counter-reset: asset;
}

.marker {

  &:before {
    color: #fff;
    counter-increment: asset; /* Increment the value of section counter by 1 */
    content: counter(asset);
    cursor: pointer;
    font-family: 'Source Serif Pro', serif;
    position: absolute;
  }

  &--existing {
    &:before {
      background-color: $green;
      border-radius: 50%;
      height: 22px;
      padding: 3px;
      text-align: center;
      width: 22px;
    }
  }

  &--past {
    &:before {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 24px solid $green;
      height: 0;
      width: 0;
    }
  }
}// end marker

.map {
  border-bottom: 0.75px solid $gray;
  border-top: 0.75px solid $gray;

  &-item {

    &:first-child {
      @media (min-width: $bp-sm) {
        max-width: 360px;
        width: 30%;
      }
    }

    &:last-child {
      align-self: stretch;
      height: inherit;
      width: 70%;
    }
  }

  @media (min-width: $bp-sm) {
    display: flex;
  }

  &-container {
    height: 100%;
    position: relative;
    width: 100%;
  }
}// end map

.legend {

  &-key {
    margin-left: $map-margin;
    margin-right: $map-margin;
    margin-top: 15px;
  }

  &-title {
    color: $green;
    font-family: 'Red Rose', cursive;
    font-weight: bold;
    margin-bottom: 32px;
  }

  &-guide {
    &-item {
      align-items: center;
      display: flex;

      &-svg {
        height: 15px;
        margin-right: 12px;
        width: 15px;
      }

      &:first-child {
        margin-bottom: 5px;
      }
    }// end guide item
  }// end legend guide

  &-assets {
    margin-top: 40px;

    &-item {
      align-items: center;
      color: $dark-gray;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-bottom: 15px;
      padding-top: 15px;

      &-button {
        margin-right: 20px;

        &:before {
          font-size: 1.5em !important;
        }
      }

      &-content {
        overflow: hidden;
        padding-left: $map-margin;
        padding-right: 15px;
        position: relative;

        :before {
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          width: 10px;
        }

        &#ArtsContent {
          :before {
            background-color: $arts-color;
            content: "";
          }
        }

        &#BusinessContent {
          :before {
            background-color: $business-color;
          }
        }

        &#CommunityContent {
          :before {
            background-color: $community-color;
          }
        }

        &#FamilyContent {
          :before {
            background-color: $family-color;
          }
        }

        &#LandmarkContent {
          :before {
            background-color: $landmark-color;
          }
        }

        &#ParkContent {
          :before {
            background-color: $park-color;
          }
        }

        &#RecreationContent {
          :before {
            background-color: $recreation-color;
          }
        }
      }// end content

      &-list {

        &-item {
          font-size: 0.8em;
        }
      }

      &:not(:last-child) {
        border-bottom: 0.75px solid $gray;
      }
    }// end assets item
  }// end legend assets
}// end legend

.assets {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 920px;

  &-item {
    align-items: center;
    display: flex;

    &-svg {
      height: 15px;
      margin-right: 12px;
      width: 15px;
    }

    &-list {
      margin-top: 10px;

      &-item {
        color: $dark-gray;
        margin-bottom: 5px;
      }

      @media (min-width: $bp-sm) {
        -webkit-column-count: 2;  /* Chrome, Safari, Opera */
        -moz-column-count: 2;     /* Firefox */
        column-count: 2;
        width: 100%;
      }
    }// end assets item list
  }// end assets item

  &-existing {
    margin-bottom: 30px;

    @media (min-width: $bp-sm) {
      margin-bottom: 60px;
    }
  }

  @media (min-width: $bp-sm) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}// end assets
