/* Basic utility styles */

$bp-sm: map-get($breakpoints, sm);
$bp-lg: map-get($breakpoints, lg);

$off-white: map-get($colors, offWhite);

body {
  background-color: $off-white;
}

// container wrap
.wrap {
  max-width: $bp-lg;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $bp-sm) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

// visually hidden
.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
