/* Variables */

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1280px
);

$colors: (
  black: #000,
  green: #064E3C,
  greenLight: #017653,
  red: #CE0000,
  offWhite: #FEFEF1,
  yellow: #EFC01C,
);
